{
  "plugins": ["@babel/plugin-transform-modules-amd", "@babel/plugin-transform-modules-commonjs", "es2015"]
}
{
    "plugins": [
        ["transform-imports", {
            "react-bootstrap": {
                "transform": "react-bootstrap/lib/${member}",
                "preventFullImport": true
            },
            "lodash": {
                "transform": "lodash/${member}",
                "preventFullImport": true
            }
        }]
    ]
}
