/**********************************************************************************************************************\
\ ******************************************************************************************************************** /
/ **** /                                                 The rec                                                \ **** \
\ **** \                                             Login CSS Page                                             / **** /
/ **** /                                                                                                        \ **** \
\ **** \                                          Written By: Tim Newman                                        / **** /
/ ******************************************************************************************************************** \
\**********************************************************************************************************************/

body {
    width: 100vw;
    height: 100vh;
}

#login_container {
    width: 28em;
    height: 30em;
    margin: auto;
    padding-top: 25vh;
}

#login_box {
    width: 100%;
    height:100%;

    border-radius: 1em;
    border: 1px solid var(--darkish);
}

#rec_logo {
    width: 7em;
    height: 4em;

    padding-top: 3em;
}