/**********************************************************************************************************************\
\ ******************************************************************************************************************** /
/ **** /                                                 The rec                                                \ **** \
\ **** \                                              Main CSS Page                                             / **** /
/ **** /                                                                                                        \ **** \
\ **** \                                          Written By: Tim Newman                                        / **** /
/ ******************************************************************************************************************** \
\**********************************************************************************************************************/

/*Named Variables*/
:root {
    --light: #FAFAFA;
    --lightish: #EFEFEF;
    --darkish: #EAEAEA;
    --dark: #585858;
    --darker: #3D3D3D;
    --hover: #558BDA;
    --active: #4B7FCB;
}

/*Entire Page*/
html {
    /*Page Visibility Transition*/
    /*font-size: 12px;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*transition: opacity 0.1s;*/
    /*width: 100vw;*/
}

/*Entire Body*/
body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: var(--light);
    color: var(--dark);
}

/*Primary Colors*/

/*Background Colors*/
.bg-white { background-color: white; }
.bg-light { background-color: var(--light); }
.bg-dark { background-color: var(--dark); }

/*Hovering*/
.hov-black,
.hov-blue,
.hov-bg-dark {
    cursor: pointer;
    transition: color 0.1s;
}

.hov-blue:hover { color: var(--hover); }
.hov-blue:active { color: var(--active); }


.hov-black:hover { color: var(--darker); }
.hov-black:active { color: black; }

.hov-bg-dark:hover { background-color: var(--lightish); }
.hov-bg-dark:active { background-color: var(--darkish); }

/*Titles*/
h1 {  }
h2 {  }
h3 {  }

/*Flexing*/
flex-row { flex-direction: row; }
flex-col { flex-direction: column; }
flex-grow { flex-grow: 1; }

/*Generally Common*/
.center { margin: auto; }

.shadow { box-shadow: 0 2px 3px rgba(7, 44, 104, 0.15); }