/**********************************************************************************************************************\
\ ******************************************************************************************************************** /
/ **** /                                                 The Rec                                                \ **** \
\ **** \                                              Main CSS Page                                             / **** /
/ **** /                                                                                                        \ **** \
\ **** \                                          Written By: Tim Newman                                        / **** /
/ ******************************************************************************************************************** \
\**********************************************************************************************************************/

/*Named Variables*/
:root {
    --lighter: #FCFCFC;
    --light: #FAFAFA;
    --lightish: #EFEFEF;
    --dark-grey: #DDDDDD;
    --darkish: #EAEAEA;
    --grey: #A8A8A8;
    --dark: #585858;
    --darker: #3D3D3D;
    --hover: #558BDA;
    --active: #4B7FCB;
    --blue: #4AB8FF;
    --brighter-blue: #4ACBFF;
    --darker-blue: #4AA7FF;
    --dark-blue: #3B87D0;
    --darkest-blue: #3576B4;
    --deepblue: #3343F9;
    --orange: #F99033;
    --limegreen: #A7F933;
    --green: #6EEB46;
    --neongreen: #33F96B;
    --purple: #BE46EB;
    --bloodorange: #EB5D46;
    --pink: #F933E7;
    --gold: #F9DC33;
    --red: #F93345;
    --rose: #F93372;

}

/*Entire Page*/
html {
    /*Page Visibility Transition*/
    /*font-size: 12px;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*transition: opacity 0.1s;*/
    /*width: 100vw;*/
}

/*Entire Body*/
body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: var(--light);
    color: var(--dark);
}

/*Primary Colors*/
.orange { color: var(--orange); }
.green { color: var(--green); }
.purple { color: var(--purple); }
.bloodorange { color: var(--bloodorange); }
.pink { color: var(--pink); }
.neongreen { color: var(--neongreen); }
.gold { color: var(--gold); }
.limegreen { color: var(--limegreen); }
.deepblue { color: var(--deepblue); }
.red { color: var(--red); }
.rose { color: var(--rose); }

/*Background Colors*/
.bg-white { background-color: white; }
.bg-light { background-color: var(--light); }
.bg-dark { background-color: var(--dark); }

/*Hovering*/
.hov-black,
.hov-blue,
.hov-bg-dark,
.hov-light {
    cursor: pointer;
    transition: color 0.1s;
}

.hov-blue:hover { color: var(--hover); }
.hov-blue:active { color: var(--active); }


.hov-black:hover { color: var(--darker); }
.hov-black:active { color: black; }

.hov-light:hover { color: var(--darkish); }
.hov-light:active { color: var(--lightish); }

.hov-bg-dark:hover { background-color: var(--lightish); }
.hov-bg-dark:active { background-color: var(--darkish); }

/*Titles*/
h1 {  }
h2 {  }
h3 {  }

/*Flexing*/
flex-row { flex-direction: row; }
flex-col { flex-direction: column; }
flex-grow { flex-grow: 1; }

/*Generally Common*/
.center { margin: auto; }
.center-horizontal { margin-left: auto; margin-right: auto; }

.shadow { box-shadow: 0 2px 3px rgba(7, 44, 104, 0.15) !important; }

/*Tooltips*/
.tooltip {}

.tooltiptext {
    display: inline-flex;

    position: relative;

    bottom: 3.6em;

    visibility: hidden;

    background-color: var(--darker);
    color: var(--lighter);

    text-align: center;

    padding: 0.2em;

    border-radius: 0.4em;

    font-size: 0.7em;

    opacity: 0.9;

    transition: visibility 0.2s;
    /*transition-delay: 1s;*/
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0s;
}

/*Autoscaling Images*/
.fillwidth {
    width: 100%;
    height: auto;
}
.fillheight {
    height: 100%;
    width: auto;
}