/**********************************************************************************************************************\
\ ******************************************************************************************************************** /
/ **** /                                                 The Rec                                                \ **** \
\ **** \                                             Header CSS Page                                            / **** /
/ **** /                                          Written By: Tim Newman                                        \ **** \
\ **** \                                           Edited By:                                                   / **** /
/ ******************************************************************************************************************** \
\**********************************************************************************************************************/

#header_bar_container {
    position: absolute;

    top: 0em;

    width: 100%;
    height: 4em;
}

#header_bar {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.header_item {
    display: flex;
}

/**************************************************** Nav Buttons *****************************************************/

#nav_buttons {
    height: 100%;
    margin-top: 2.5em;
}

.nav_button { margin-left: 1.2em; }

#home_button {}

#my_recs_button {}

#all_recs_button {}

#watchlist_button {}

#my_posts_button {}

.nav_button_text {}

.nav_button-current .nav_button_text { color: var(--darker-blue); }

.nav_button-current .nav_button_text:hover { color: var(--dark-blue); }

.nav_button-current .nav_button_text:active { color: var(--darkest-blue); }

.nav_button-current {}

.nav_button_underline {
    position: relative;
    top: 1.1em;
    right: 0.4em;

    width: 100%;
    height: 0em;/*height: 0.25em; when expanded*/

    border-radius: 0.1em;

    background-color: var(--hover);

    padding-left: 0.4em;
    padding-right: 0.4em;
}

.nav_button-current .nav_button_underline { height: 0.25em; }

.nav_divider {
    margin-left: 1em;
    /*margin-right: 1em;*/

    font-weight: 600;

    opacity: 0.5;
}

/**************************************************** Account Button **************************************************/

#nav_search {
    display: none;

    position: absolute;

    right: 8em;
}

#nav_search_icon { transform: scale(1.2); }

#nav_search_input {

    position: absolute;

    right: 2em;
    top: -0.2em;

    width: 20em;
    height: 1.5em;

    padding-left: 0.5em;

    border-radius: 1em;
    border: 1px solid var(--darkish);

    background-color: var(--lightish);

    transition: background-color 0.2s;

}

#nav_search_input:focus {
    outline: none;
    background-color: var(--lighter);
}

#nav_account_dropdown {
    position: absolute;

    right: -1em;
    top: 2em;

    background-color: var(--light);

    border-radius: .2em;
    border: 1px solid #ccc;

    display: none;
}

.nav_account_dropdown_option {
    display: flex;

    width: 10em;
    height: 2.5em;
}

.nav_account_dropdown_option div {
    text-align: center;
    line-height: 2.5em;
}

.nav_account_dropdown_option i {
    margin-left: 0.5em;
    margin-right: 0.5em;
    line-height: 2.5em;
}

/**************************************************** Account Button **************************************************/

#nav_account {
    position: absolute;

    right: 2em;
}

#nav_account_icon { transform: scale(2); }


/****************************************************** Logo **********************************************************/

#rec_logo {
    width: 10em;
    height: 4em;
    margin: 0 1em 0 1em;
}

#rec_logo_text {
    cursor: pointer;
}